*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
   
}
.container{
    width: 80%;
    margin: 0 auto;
}
nav{
    width: 80%;
    height: 80px;
    background:  #0f0e75 ;
    color:    #efeeff ;
}
nav h1{
    float: left;
    font-size: 30px;
    margin-left: -60px;
    margin-top: 25px;
}
nav ul{
    float: right;
    
}
nav ul li{
    display: inline-flex;
    margin-right: 30px;
    margin-top: 30px;
    font-style: normal;
}
main{
    width: 80%;
    height: 350px;
    background:    #efeeff  ;
    color: #0f0e75 ;
}
main h1{
    float: left;
    font-size: 25px;
    margin-left: 40px;
    margin-top: 20px;
}
main h2{
    float: left;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;

}
footer{
    width: 80%;
    height: 80px;
    background: #0f0e75 ;
    color:   #efeeff  ;

}
footer h2{
    font-size: 15px;
    margin: auto;
    margin-top: 30px;
}